:root {
    --dark-background: #fff;
    --dark-paper: #fefefe;
    --dark-popup: #f9f9f9;
    --paper: #fefefe;
    --paper-highlight: #ddd;
    --accent: rgb(0,255,139);
    --accent-negative: rgb(255, 0, 89);
    --input: #f9f9f9;
    --text: #222;
    --text-transparent: #22222280;
    --elevation-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}
