.groupContainerHeading {

}

.categorizeItem {
    background-color: #282828;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: var(--elevation-shadow);
    height: 100px;
}

.categorizeItemGrabbed {
    width: 50px;
    background-color: #28282840;
    box-shadow: none;
}