.root {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.3fr 6fr 1fr;
    grid-gap: 5px;
    padding: 0.5em;
    overflow: hidden;
}

.metaContainer {
    padding: 1em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topic {
    border-radius: 50%;
    padding: 2em;
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon);
    box-shadow: 0 8px 16px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.topic * {
    font-size: 4em;
}

.metaItem {
    border-radius: 50%;
    padding: 1em;
    width: 7em;
    height: 7em;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--paper);
    color: var(--text);
    box-shadow: 0 8px 16px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.15);
}

.caption {
    background: var(--question-item);
    border-radius: 8px;
    grid-column: 2;
    grid-row-start: 1;
    color: var(--text);
    font-size: 5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 8px 16px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.15);
}

.jokerDisplay {
    padding: 0.5em;
    font-size: 0.6em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 0.2em;
    align-items: center;
    text-align: center;
    color: var(--text);
    position: absolute;
    top: 1%;
    width: 40%;
    background-color: var(--dark-paper);
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

.mediaContainer {
    grid-column: 2;
    grid-row-end: 5;
    background: var(--question-item);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 0 8px 16px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.15);
}

.mediaContainer:hover {
    background-color: var(--question-item-highlight);
}

.singleContainer {
    border-radius: 8px;
    background: var(--question-item);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 4em;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 0 8px 16px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.15);
}

.singleContainer:hover {
    background-color: var(--question-item-highlight);
}

.popupContainerText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 5.2em;
    text-align: center;
}

.imageWrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.imageGrid {
    width: 100%;
    height: 100%;
    display: grid;
}

.imageLabel {
    background: #22222280;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 20;
}