.container {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: transparent;
    border-radius: 12px;
}

.container > h3 {
    margin: 0;
    color: inherit;
}

.container > div {
    display: grid;
    grid-row: auto;
    grid-row-gap: 15px;
    margin: 20px 0 0 10px;
}

.teamItem {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.submitButton {
    position: absolute !important;
    bottom: 30px;
    right: 30px;
    font-size: 8rem !important;
    background-color: transparent;
    color: var(--text) !important;
}
