.container {
    display: grid;
    width: 200px;
}

.iconButton {
    background-color: transparent !important;
    color: var(--text) !important;
    grid-column: 1;
    grid-row: 1;
    font-size: 3rem !important;
}

.secondDisplay {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-popup);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 20px;
}

.secondDisplay > p {
    font-size: 3rem;
    color: var(--text);
}