.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    width: 100%;
    padding: 5px;
    background-color: #333333;
    transition: background-color 0.4s ease-in-out;
    border-radius: 12px;
    cursor: pointer;
}

.container:hover {
    background-color: #444444
}

.iconButton {
    color: var(--text) !important;
    background-color: transparent !important;
    font-size: 3rem !important;
}
